// This File is imported last, and will override other styles in the cascade
// Add styles here to make changes without digging in too much
body {
  font-family: "Open Sans";
}
.body {
  font-size: 14px;
  line-height: 20px;
}
.large {
  font-size: 72px;
  letter-spacing: -3px;
  line-height: 100%;
}
h1 {
  font-size: 48px;
  letter-spacing: -2px;
  line-height: 100%;
}
h2 {
  font-size: 32px;
  letter-spacing: -1px;
  line-height: 100%;
}
h3 {
  font-size: 28px;
  letter-spacing: -0.5px;
  line-height: 100%;
}
h4 {
  font-size: 24px;
  letter-spacing: -0.25px;
  line-height: 100%;
}
.small, small {
  font-size: 12px;
  line-height: 100%;
}
mark {
  color: black;
  background: yellow;
}
a > code {
  color:#1863a1
}
a:visited > code {
  color:#751590
}
a:focus > code {
  color:#0181eb
}
a:hover > code {
  color:#0181eb
}
a:active > code {
  color:#01579f
}
div.entry-content li {
  margin-left: 1.0em
}
